.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between; /* only 2 items under this className so space between */
    align-items: center;
    background: var(--color-black); /* var present in the index.css cuz of the repeated usages */

    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start; /* //appear at the start of  flex (left side)*/
    align-items: center;
}